<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Customer Management App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <p class="fs-1 text-primary">Welcome to Customer Management App!</p>
      <p><a href="/customers" class="btn btn-primary">View Customers Table</a></p>
      <form action="/customers" method="post">
        <div class="container">
          <div class="form-group">
            <label for="CustomerName">Customer Name:</label>
            <input type="text" class="form-control" id="CustomerName" name="CustomerName" required>
          </div>
          <div class="form-group">
            <label for="ContactName">Contact Name:</label>
            <input type="text" class="form-control" id="ContactName" name="ContactName" required>
          </div>
          <div class="form-group">
            <label for="Address">Address:</label>
            <input type="text" class="form-control" id="Address" name="Address" required>
          </div>
          <div class="form-group">
            <label for="City">City:</label>
            <input type="text" class="form-control" id="City" name="City" required>
          </div>
          <div class="form-group">
            <label for="PostalCode">Postal Code:</label>
            <input type="text" class="form-control" id="PostalCode" name="PostalCode" required>
          </div>
          <div class="form-group">
            <label for="Country">Country:</label>
            <input type="text" class="form-control" id="Country" name="Country" required>
          </div>
        </div>
        <div class="mt-3">
              <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
      </form>
    </div>
  </body>
</html
